{% extends 'base.html' %}
{% load static %}

{% block extra_scripts %}
<script>
    // navigator.serviceWorker.register("/static/firebase-messaging-sw.js")
    //     .then((registration) => {
    //         messaging.useServiceWorker(registration);
    //     })
    // navigator.serviceWorker.register('/firebase-messaging-sw.js')
    //     .then(function (registration) {
    //         console.log('Service worker successfully registered.');
    //         console.log(registration);
    //         messaging.useServiceWorker(registration);

    //         messaging.getToken().then((currentToken) => {
    //             if (currentToken) {
    //                 // sendTokenToServer(currentToken);
    //                 console.log(currentToken);
    //             } else {
    //                 // Show permission request.
    //                 console.log('No Instance ID token available. Request permission to generate one.');
    //             }
    //         }).catch((err) => {
    //             console.log('An error occurred while retrieving token. ', err);
    //         });
    //     }).catch(function (err) {
    //         console.error('Unable to register service worker.', err);
    //     });

</script>
{% endblock extra_scripts %}

{% block content %}

{% endblock content %}